<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Post Feed</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css_d/style.css">
    <link rel="stylesheet" href="css_d/main.css">
    <style>
.drawer-controls {
            padding-top: 10px;
        }
.header{        font-size: 37px !important;       
                font-weight: 900;
                color: #0c4da2;
}
.header_other{  font-size: 26px !important;       
                font-weight: 900;
                color: #0c4da2;
}
.post-box{margin: 9px !important; padding: 12px !important;font-size: 22px !important;}
.post-button{width: 50% !important;margin-left: 9px !important;}
.field-validation-error{ color: red;}
.has-success{ color: green;}

</style>
</head>
<body>
<%-partial('../includes/header')%>
<div class="container">
</br>
<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="panel-body">                                   
            <div class="border preview">
                <div class="border">
                   <%-partial('../includes/post-box')%>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="panel-body">                                   
            <div class="border preview">
                <div class="border">
                   <div class="row">
                      <div class="col-md-4">
                      <% if(user.image != null){ %>
                           <div style="background-image: url('/images/<%=user.image%>');border-radius:32%;border: 2px solid #0c4da2;height: 130px;width: 130px;"></div>
                      <% } else { %> 
                           <div style="background-image: url('/images/avatar.png');border-radius:32%;border: 2px solid #0c4da2;height: 130px;width: 130px;"></div>
                      <% } %> 
                      </div>
                      <div class="col-md-offset-6">
                          </br></br>
                          <h1 class="header_other"><%=user.user_type%></h1>
                      </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login_header" style="margin-bottom: 10px;">
   <p class="has-success"><%= massage %></p>
   <% errors.forEach(function(error){%>
    <div class="login_header" style="margin-bottom: 30px;"><p class="field-validation-error"><%= error.msz %></p></div>
<%})%> 
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="row">
           <div class="col-md-8 col-sm-12">
                <div class="panel-body"> 
                <h4 class="header_other">Posts</h4>                                  
                    <div class="border preview">
                        <div class="border">
                        <% posts.forEach(function(post){ 
                             if(post.status == 'Approved'){
                        %>
                        <div class="border" style="margin: 10px !important;padding: 20px !important;">
                            <article class="post" data-postid="<%=post.post_id %>">
                                    <div class="border" style="padding: 20px !important;">
                                    <h4><%=post.post_body %></h4>
                                    <h6>Posted by <%= post.posted_username %> on <%=post.post_created %></h6>
                                        
                                    <% if(user.user_id == post.posted_user_id){ %>
                                        <a href="/post/edit/<%=post.post_id %>" class="edit">Edit</a> |
                                        <a href="/post/delete/<%=post.post_id %>">Delete</a>
                                        <% } %>
                                    </div>
                                    <div class="border">
                                            <form action="/post/comment" method="post">
                                                <div class="form-group row">
                                                <div class="col-md-7">
                                                    <textarea class="form-control" name="comment_body" rows="2" placeholder="Your comment!"></textarea>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="submit" class="btn btn-block btn-primary p-lg-left-right" value="Comment">
                                                </div>
                                                </div>
                                        <input type="hidden" value="<%=post.post_id %>" name="post_id">
                                        <input type="hidden" value="<%=user.user_id %>" name="user_id">
                                        <input type="hidden" value="<%=user.username %>" name="username">
                                            </form> 
                                        </div>
                                        <% comments.forEach(function(comment){
                                            if(comment.commented_post_id == post.post_id){
                                        %>
                                            <article class="post border" data-postid="<%=comment.comment_id%>">
                                                <h4><%=comment.comment_body%></h4>
                                                <h6>Commented by <%=comment.commented_username%> on <%=comment.comment_created%></h6>
                                            </article>
                                            <% }
                                         })
                                        %>                  
                                     </article>
                        </div>
                        <% }
                         })
                        %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="panel-body">
                <h4 class="header_other">Users</h4>                                   
                    <div class="border preview">
                        <div class="border">
                        <% users.forEach(function(userEntity){ 
                            if(userEntity.status == 'Approved'){
                        %>
                           <div class="border">
                              <div class="row">
                                    <div class="col-md-4">
                                    <br>
                                    <% 
                                        if(userEntity.image != null){
                                    %>
                                    <div style="background-image: url('/images/<%=userEntity.image%>');border-radius:50%;border: 2px solid #0c4da2;height: 60px;width: 60px;"></div>
                                    <% } else {%>  
                                    <div style="background-image: url('/images/avatar-small.png');border-radius:50%;border: 2px solid #0c4da2;height: 60px;width: 60px;"></div>
                                    <% }%> 
                                    </div>
                                    <div class="col-md-8">
                                        <h4><%=userEntity.username%></h4>
                                        <h5><%=userEntity.user_type%></h5>
                                        <h6><%=userEntity.email%></h6>
                                    </div>
                              </div>
                           </div>
                           <% }
                        })
                       %>
                        </div>
                    </div>
                </div>
            <!-- For ad -->
            <div class="panel-body">
                <h4 class="header_other">Ads</h4>                                   
                    <div class="border preview">
                        <div class="border">
                        <% ads.forEach(function(ad){
                            if(ad.status == "Approved"){
                        %>
                            <div style="border:  1px;box-shadow: 3px 4px 22px 3px #ccc;padding: 10px;margin-bottom: 20px;margin-top: 20px;">
                                
                                <tr>
                                    <td><strong>Name: <%= ad.dr_name %></strong></td><br/>
                                    <td><small class="form-text text-muted">Speciality: <%= ad.speciality%></small></td><br/>
                                    <td><small class="form-text text-muted">Address: <%= ad.address%></small></td>
                                </tr><br/><hr>
                                <small class="form-text text-muted">Created at: <%= ad.ad_created%>  </small>
                            </div>  
                        <%
                        }
                        })%>
            
                        </div>
                    </div>
                </div>
            <!-- For ad -->
            </div>
        </div>
    </div>
</div>

</div>
<script src="/js_d/main.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>